[submodule "external/mp4v2/lib"]
	path = external/mp4v2/lib
	url = https://github.com/medooze/mp4v2.git
[submodule "external/srtp/lib"]
	path = external/srtp/lib
	url = https://github.com/cisco/libsrtp.git
